.shop-category {
  background: var(--background);
}
.shopCategory-banner {
  display: block;
  margin: 0px auto;
  padding: 50px;
  width: 83%;
}
.shopcategory-indexSort {
  display: flex;
  margin: 0px 170px;
  justify-content: space-between;
  align-items: center;
}
.shopcategory-sort {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid var(--text-primary);
}
.shopcategory-indexSort p span {
  font-weight: 600;
}
.shopcategory-indexSort p {
  font-weight: 600;
  color: var(--text-primary);
}
.shopcategory-sort {
  color: var(--text-primary);
}
.shopcategory-products {
  margin: 20px 170px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 80px;
  color: var(--text-primary);
}
.shopCategory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: 210px;
  height: 60px;
  border-radius: 75px;
  background: rgba(197, 197, 197, 0.74);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.shopCategory-loadmore:hover {
  background: var(--inverse);
  color: var(--background);
}
.shopCategory-loadmore-products {
  padding: 70px 0;
}
@media (max-width: 1280px) {
  .shopCategory-banner {
    margin: 0px auto;
    width: 90%;
  }
  .shopcategory-indexSort {
    width: 90%;
    margin: auto;
  }
  .shopcategory-sort {
    padding: 5px 10px;
    font-size: 12px;
  }
  .shopcategory-indexSort p {
    font-size: 12px;
  }
  .shopcategory-products {
    width: 90%;
    margin: 10px auto;
    row-gap: 40px;
  }
  .shopcategory-products .item {
    margin: auto;
  }
  .shopCategory-loadmore {
    margin: 100px auto;
    width: 200px;
    height: 60px;
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .shopCategory-banner {
    width: 95%;
  }
  .shopcategory-products {
    width: 95%;
  }
  .shopCategory-loadmore {
    margin: 60px auto;
    width: 150px;
    height: 40px;
    font-size: 13px;
  }
}
@media (max-width: 500px) {
  .shopcategory-products {
    grid-template-columns: 1fr 1fr;
  }
}
